<suite name="TestAutomation">
    <test name="Check Leave deductions when Full day leave is applied and approved for Absent deduction">
        <classes>
            <class name="com.darwinbox.attendance.leavedeductions.absent.TestFullDayAppliedAndApprovedForAbsentDeduction"/>
        </classes>
    </test>
    <test name="Check Leave deductions when Full day leave is applied and pending for Absent deduction">
        <classes>
            <class name="com.darwinbox.attendance.leavedeductions.absent.TestFullDayAppliedAndPendingForAbsentDeduction"/>
        </classes>
    </test>
    <test name="Check Leave deductions when First Half leave is applied and approved for Absent deduction">
        <classes>
            <class name="com.darwinbox.attendance.leavedeductions.absent.TestFirstHalfAppliedAndApprovedForAbsentDeduction"/>
        </classes>
    </test>
    <test name="Check Leave deductions when First Half leave is applied and pending for Absent deduction">
        <classes>
            <class name="com.darwinbox.attendance.leavedeductions.absent.TestFirstHalfAppliedAndPendingForAbsentDeduction"/>
        </classes>
    </test>
    <test name="Check Leave deductions when Second Half leave is applied and approved for Absent deduction">
        <classes>
            <class name="com.darwinbox.attendance.leavedeductions.absent.TestSecondHalfAppliedAndApprovedForAbsentDeduction"/>
        </classes>
    </test>
    <test name="Check Leave deductions when Second Half leave is applied and pending for Absent deduction">
        <classes>
            <class name="com.darwinbox.attendance.leavedeductions.absent.TestSecondHalfAppliedAndPendingForAbsentDeduction"/>
        </classes>
    </test>
    <test name="Check Leave deductions when there is no leave applied for Absent deduction">
        <classes>
            <class name="com.darwinbox.attendance.leavedeductions.absent.TestForAbsentDeduction"/>
        </classes>
    </test>
</suite>